DOMAIN=flo-league.com
API_DOMAIN=api.${DOMAIN}
API_URL=https://${API_DOMAIN}

LETSENCRYPT_EMAIL=your@email.com

SECRET_KEY=123

POSTGRES_USER=prod
POSTGRES_PASSWORD=supersecurepassword
POSTGRES_DB=flo-league
DATABASE_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

UVICORN_WORKERS=4