appdirs==1.4.3
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
Flask-JWT-Extended==3.24.1
Flask-SQLAlchemy==2.4.3
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
MouseInfo==0.1.2
mpmath==1.1.0
numpy==1.18.1
opencv-python==4.2.0.32
Pillow==7.0.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyJWT==1.7.1
PyMsgBox==1.0.7
pyperclip==1.7.0
PyPolynomial==0.4.1
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.2
PyTweening==1.0.3
simpy==3.0.11
six==1.14.0
SQLAlchemy==1.3.17
sympy==1.5.1
virtualenv==20.0.4
Werkzeug==1.0.1
XlsxWriter==1.2.8
youtube-dl==2020.5.3
